<div class="row">
    <div class="col-md-12">
        <h3>Dashboard</h3>
    </div>
    <br />
    <br />
    <br />
    <br />
    <div class="col-md-3">
        <div class="alert alert-success">
            <div class="row">
                <div class="col-xs-4 text-center">
                    <em class="fa fa-flag fa-3x"></em>
                </div>
                <div class="col-xs-8">
                    <div class="h2 mt0">2</div>
                    <div class="text-uppercase">active projects</div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="alert alert-danger">
            <div class="row">
                <div class="col-xs-4 text-center">
                    <em class="fa fa-upload fa-3x"></em>
                </div>
                <div class="col-xs-8">
                    <div class="h2 mt0">0</div>
                    <div class="text-uppercase">overdue tasks</div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="alert alert-warning">
            <div class="row">
                <div class="col-xs-4 text-center">
                    <em class="fa fa-warning fa-3x"></em>
                </div>
                <div class="col-xs-8">
                    <div class="h2 mt0">2</div>
                    <div class="text-uppercase">overcome tasks</div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="alert alert-info">
            <div class="row">
                <div class="col-xs-4 text-center">
                    <em class="fa fa-upload fa-3x"></em>
                </div>
                <div class="col-xs-8">
                    <div class="h2 mt0">0</div>
                    <div class="text-uppercase">Meetings to go</div>
                </div>
            </div>
        </div>
    </div>


</div>