<div class="row">
    <div class="col-md-12">
        <h3>Projects <a href="#/project" style="font-size: large">New project</a></h3>
    </div>
    <br />
    <br />
    <br />
    <br />
    <!--Nav pill for "All", "Active", "Closed"-->
    <div class="col-md-12">
        
        <!--<i class="fa fa-circle-o-notch fa-spin"></i>-->
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Created</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="project in projects">
                    <td>
                        {{ project.title }}
                    </td>
                    <td>
                        {{ project.description }}
                    </td>
                    <td>
                        {{ project.created }}
                    </td>
                    <td>
                        <a data-ng-href="#project/{{project.id}}"><i class="fa fa-edit fa-lg" data-toggle="tooltip" data-placement="top" title="" data-original-title="Tooltip on top"></i></a>
                        <i class="fa fa-times fa-lg" style="color: red"></i>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>